.root {
	padding: 20px 0;

	&__content {
		&__header {
			background-image: url(/showcase_header.png);
			background-size: cover;
			max-width: 400px;
			width: 400px;
			height: 70px;

			&_title {
				font-size: 28px;
				padding-top: 9px;
				text-align: center;
				color: #ffffff;
			}
		}

		&__main {
			margin-top: -1px;
			background-image: url(/showcase_main.png);
			background-size: 400px;
			max-width: 400px;
			width: 400px;
			background-repeat: repeat;
			display: flex;
			gap: 10px;
			flex-direction: column;

			&_text {
				font-size: 24px;
				color: #ffffff;
				text-align: center;
				padding-top: 5px;
			}

			&__products {
				padding: 10px 20px 0 20px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;

				&_empty {
					display: block;
				}
			}
		}

		&__footer {
			background-image: url(/showcase_footer.png);
			background-size: 400px;
			max-width: 400px;
			width: 400px;
			height: 25px;
		}
	}
}
