.root {
	&__emptyFrame {
		cursor: not-allowed;
	}

	&__skill {
		margin-top: 2px;
		max-width: 55px;
	}

	@media (max-width: 375px) {
		&__skill {
			max-width: 48px;
		}
	}

	&__empty {
		max-width: 20px;
	}

	&__bage {
		top: -5px;
		left: -5px;
		position: absolute;

		&_img {
			max-width: 20px;
		}

		&_count {
			position: absolute;
			top: 6.5px;
			left: 8px;
			font-size: 11px;
			font-weight: 900;
			font-family: 'Pixel Cyr';
			text-align: center;
		}
	}
}
