.root {
  max-width: 180px;
  position: relative;
}

@media (max-width: 375px) {
  .root {
    max-width: 170px;
  }
}
@media (max-width: 355px) {
  .root {
    max-width: 160px;
  }
}
@media (max-width: 330px) {
  .root {
    max-width: 150px;
  }
}
@media (max-width: 330px) {
  .root {
    max-width: 150px;
  }
}
