.root {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	width: 100%;

	&__title {
		font-family: 'Tilda Sans';
		text-align: center;
		padding: 30px 0;
	}

	&__item {
		display: flex;
		flex-direction: column;

		&_container {
			position: relative;

			&__delete {
				padding: 15px 0 0 0;
				cursor: pointer;
				background: inherit;
				border: none;
				height: fit-content;
				position: absolute;
				top: 0;
				right: 0;

				&_img {
					max-width: 13px;
				}
			}
		}
	}
}
