.root {
	cursor: pointer;

	&__btn {
		background-image: url(/button-inventory-shop.png);
		background-size: cover;
		background-color: inherit;
		border: none;
		padding: 15px;
		cursor: pointer;

		&_img {
			max-width: 50px;
			max-height: 50px;
		}

		@media (max-width: 375px) {
			&_img {
				max-width: 40px;
				max-height: 40px;
			}
		}
	}
}
