.root {
  position: relative;
  max-width: 250px;
  display: flex;
  background: inherit;
  transition: all;
  transition-duration: 500ms;

  &__input {
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 20%;
    font-size: 16px;
    color: #fff;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
  }
}

@media (max-width: 375px) {
  .root {
    max-width: 230px;
  }
}
@media (max-width: 355px) {
  .root {
    max-width: 210px;
  }
}
