.root {
	background-image: url('/icon-frame.png');
	background-size: cover;
	cursor: pointer;
	border: none;
	width: fit-content;
	height: fit-content;
	padding: 8px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	position: absolute;
	top: 10.4px;
	right: 13px;

	&_middle {
		padding: 9px 10px;
		top: 14px;
	}

	&_large {
		padding: 9px 10px;
		top: 17px;
		right: 17px;
	}

	&__img {
		margin-left: 2px;
		width: 15px;

		&_large {
			width: 18px;
		}
	}
}
