.root {
	margin-top: -110px;

	&__wrap {
		height: 100px;
		position: relative;
		text-align: end;

		&_img {
			top: 0;
			right: 0;
			position: absolute;
			margin-right: -5px;
			max-width: 150px;
		}

		@media (max-width: 375px) {
			&_img {
				max-width: 130px;
			}
		}

		&_text {
			position: absolute;
			top: -2px;
			color: #fff;
			right: 30px;

			&_img {
				position: absolute;
				right: -25px;
				top: 4px;
				max-width: 20px;
			}
		}
		@media (max-width: 375px) {
			&_text {
				font-size: 14px;

				&_img {
					top: 5px;
					max-width: 17px;
				}
			}
		}

		&_text:last-child {
			right: 30px;
			top: 29.5px;
		}
		@media (max-width: 375px) {
			&_text:last-child {
				right: 30px;
				top: 25.5px;
			}
		}
	}
}
