.root {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	width: 100%;

	&__radio {
		display: flex;
		flex-direction: row;
	}

	&__label {
		font-size: 16px;
		font-family: 'Tilda Sans';
		font-weight: 800;
		text-align: start;
	}

	&__input {
		transition: all;
		transition-duration: 300ms;
		padding: 12px 18px;
		width: 100%;
		font-size: 13px;
		font-family: 'Tilda Sans';
		font-weight: 500;
		border: 1px solid #000;

		&__Err {
			outline: #e03737 solid 1px;
			border: #e03737 solid 1px;
		}

		&_bg {
			background-color: #e03737;
		}
	}

	@media (max-width: 335px) {
		&__input {
			width: 93%;
		}
	}

	input[type='radio']:checked {
		accent-color: #000;
	}

	&__textErr {
		font-family: 'Tilda Sans';
		font-weight: 600;
		color: #e03737;
	}
}

.root::placeholder {
	color: #adadad;
}
