.root {
	&_title {
		padding-top: 10px;
		font-size: 20px;
		text-align: center;
		color: #440707;
	}

	&_close {
		position: absolute;
		top: 0px;
		right: 0px;
	}
}

@media (max-width: 410px) {
	.root {
		&_title {
			padding-top: 9px;
			font-size: 18px;
		}

		&_close {
			position: absolute;
			top: -5px;
			right: -5px;
		}
	}
}

@media (max-width: 360px) {
	.root {
		&_title {
			padding-top: 7px;
			font-size: 16px;
		}

		&_close {
			position: absolute;
			top: -5px;
			right: -5px;
		}
	}
}
