.root {
  top: 15px;
  right: 20px;
  position: absolute;
  max-width: 50px;
  width: 30px;
  background: inherit;
  border: none;
  z-index: 1;
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;

  &__frame {
    width: 30px;
  }
}

@media (max-width: 375px) {
  .root {
    top: 13px;
    right: 18px;
  }
}
@media (max-width: 355px) {
  .root {
    top: 10px;
    right: 15px;
  }
}
