.root {
	background-image: url(/background-map.png);
	background-size: 453px;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: relative;
	user-select: none;

	&__main {
		z-index: 1;
		height: 500px;
		margin: 40px 0 0 0px;
		position: relative;
	}

	&__footer {
		position: relative;
		z-index: 2;
		background-image: url(/illustration-top-gamers.png);
		background-size: 425px;
		width: 425px;
		height: 267px;
		margin-top: 95px;

		&_name {
			width: 120px;
			text-align: center;
			position: absolute;
			bottom: 7.5px;
			left: 27px;
			font-size: 10px;
		}
	}
}

@media (max-width: 375px) {
	.root {
		background-size: 425px;

		&__footer {
			background-size: 375px;
			height: 236px;
			margin-top: 45px;

			&_name {
				width: 105px;
				bottom: 6px;
				left: 23px;
				font-size: 10px;
			}
		}
	}
}
@media (max-width: 355px) {
	.root {
		background-size: 400px;

		&__footer {
			background-size: 355px;
			height: 223px;
			margin-top: 2px;

			&_name {
				width: 100px;
				bottom: 5px;
				left: 22px;
			}
		}
	}
}
@media (max-width: 335px) {
	.root {
		background-size: 380px;

		&__main {
			z-index: 1;
			height: 500px;
			margin: 20px 0 0 0px;
		}

		&__footer {
			background-size: 335px;
			height: 211px;
			margin-top: -10px;

			&_name {
				width: 94px;
				bottom: 5px;
				left: 21px;
			}
		}
	}
}
