.root {
  position: relative;
  width: 180px;
  border: none;
  outline: none;
  cursor: pointer;
  background: inherit;

  &__link {
    &_text {
      font-size: 12px;
      color: #fff;
      position: absolute;
      top: 10px;
      right: 30px;
      bottom: 0;
      left: 0;

      &_noIcon {
        right: 0px;
      }
    }

    @media (max-width: 355px) {
      &_text {
        font-size: 11px;
        top: 7px;
      }
    }

    &__icon {
      position: absolute;
      top: 7px;
      right: 20px;
      width: 25px;

      &_img {
        max-width: 24px;
      }
    }
    @media (max-width: 375px) {
      &__icon {
        right: 15px;
      }
    }
    @media (max-width: 355px) {
      &__icon {
        top: 5px;
        right: 10px;
      }
    }
  }
}

@media (max-width: 375px) {
  .root {
    width: 170px;
  }
}
@media (max-width: 355px) {
  .root {
    width: 160px;
  }
}
@media (max-width: 330px) {
  .root {
    width: 150px;
  }
}
